sentence-transformers==2.2.2
xgboost==1.7.4
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
tensorflow==2.9.0
tensorboard==2.9.0
matplotlib==3.7.1
cmake==3.25.2
opencv-python-headless
dlib-bin
bokeh==2.4.3
protobuf==3.20.0
